{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table class="t-flex t-flex-col t-pl-10">
        <thead>
            <tr> 
                <th>제목</th>
                <th>조회수</th>
                <th>댓글수</th>
                <th>작성일자</th>
            </tr>     
        </thead>
        <tbody class="t-mt-10 t-justify-between">
            {% for QnA in QnA_list %}
            <tr class="t-flex">
                <td>
                    <a href="{% url 'posts:QnA_detail' QnA.pk %}">
                        <span>{{QnA.title }}</span>
                    </a>
                </td>
                <td>0</td>
                <td>{{QnA.Comment.count}}</td>
                <td>{{QnA.updated}}</td>
                    
                {% endfor %}
            </tr>
         </tbody>
    </table>
    <div class="t-m-10 t-rounded-sm t-py-5 t-text-lg t-font-bold t-w-full">
        <a href="{% url 'posts:QnA' %}">문의하기</a>
    </div>    

{% endblock content %}