{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table class="t-justify-between">
        <thead>
            <tr> 
                <th>제목</th>
                <th>조회수</th>
                <th>댓글수</th>
                <th>작성일자</th>
            </tr>     
        </thead>
        <tbody>
            {% for QnA in QnA_list %}
            <tr>
                <td>
                    <a href="{% url 'posts:QnA_detail' QnA.pk %}">
                        <span>{{QnA.title }}</span>
                    </a>
                </td>
                <td>0</td>
                <td>{{QnA.Comment.count}}</td>
                <td>{{QnA.updated}}</td>
                    
                {% endfor %}
            </tr>
         </tbody>
    </table>
    <div>
        <a href="{% url 'posts:QnA' %}">문의하기</a>
    </div>    

{% endblock content %}